{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Welcome to Admin Console</h1>
    <p class="lead">Create, delete, edit stocks and more!</p>
  </div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">APL4555</div>
  <div class="p-2 flex-fill">APL</div>
  <div class="p-2 flex-fill">APL1394</div>
  <div class="p-2 flex-fill">APPLE</div>
  <div class="p-2 flex-fill">$75</div>
  <div class="p-2 flex-fill">$350</div>
  <div class="p-2 flex-fill">25,300</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">StockID</div>
  <div class="p-2 flex-fill">Stock Ticker</div>
  <div class="p-2 flex-fill">CompanyID</div>
  <div class="p-2 flex-fill">Company Name</div>
  <div class="p-2 flex-fill">Initial Price</div>
  <div class="p-2 flex-fill">Market Price</div>
  <div class="p-2 flex-fill">Volume</div>
</div>
{% endblock %}