{% extends "base.html" %}
{% block title %}Wallet{% endblock %}
{% block content %}

<div class="card text-center">
    <div class="card-header">
        WELCOME TO YOUR WALLET
    </div>
    <div class="card-body">
        <h5 class="card-title">$9337.18</h5>
        <p class="card-text">This is your Buying Power.</p>
        <a href="#" class="btn btn-primary">Manage Bank</a>
    </div>
    <div class="card-footer text-body-secondary">
        -
    </div>
</div>
    
</div>

<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Deposit</button>
        <button class="btn btn-primary" type="button">Withdraw</button>
    </div>

</div>


{% endblock %}